<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<h1>Editar Livro</h1>
<form method="post" th:action="@{/editar/{id}(id=${livro.id})}">
	Título<input type="text" name="titulo" th:value="${livro.titulo}"/><br/>
	Autor<input type="text" name="autor" th:value="${livro.autor}"/><br/>
	Género<input type="text" name="genero" th:value="${livro.genero}"/><br/>
	Precio<input type="text" name="preco" th:value="${livro.preco}"/><br/>
	Resumen<textarea name="resumo" th:text="${livro.resumo}"></textarea><br/>
	<button type="submit">Guardar Cambios</button>
</form>

<form method="post" th:action="@{/deletar/{id}(id=${livro.id})}">
	<button type="submit">Borrar</button>
</form>
<a th:href="@{/novolivro}">Agregar Nuevo Libro</a>
<a th:href="@{/listarlivros}">Listar Libros</a>
<a th:href="@{/editarlivro}">Editar Libros</a>
<a th:href="@{/inicio}">inicio</a>
</body>
</html>