<!DOCTYPE html>
<html xlms:th="http://thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:xlms="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<h1>nuevo Livro</h1>
<form method="post" enctype="multipart/form-data">
	Titulo<input type="text" name="titulo"/><br/>
	Autor<input type="text" name="autor"/><br/>
	Genero<input type="text" name="genero"/><br/>
	Preço<input type="text" name="preco"/><br/>
	Imagem<input type="file" name="file"/><br/>
	Resumo<textarea name="resumo"></textarea><br/>
	<button type="submit">Enviar</button>
</form>
</body>
</html>