/* Estilos generales */
body {
    font-family: 'Baloo 2', sans-serif;
    background-color: #f8f9fa; /* Gris claro para el fondo */
    color: #343a40; /* Negro para el texto */
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    text-align: center; /* Centra el contenido */
}

/* Encabezado */
h1 {
    color: #007BFF; /* Azul para el encabezado */
    padding: 20px;
}

/* Tabla de libros */
table {
    width: 80%; /* Ancho del 80% del contenedor */
    margin: 0 auto; /* Centra la tabla en la página */
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de las celdas de encabezado */
th {
    background-color: #007BFF; /* Azul para el encabezado de la columna */
    color: #fff; /* Color del texto en el encabezado de la columna */
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Estilo de las celdas de datos */
td {
    padding: 10px;
    text-align: left;
}

/* Estilo para las imágenes en la tabla */
table img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin: 10px;
    display: inline-block; /* Hace que los enlaces se muestren en línea */
}
