/* Estilos generales */
body {
    font-family: 'Baloo 2', sans-serif;
    background-color: #f8f9fa; /* Gris claro para el fondo */
    color: #343a40; /* Negro para el texto */
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    text-align: center; /* Centra el contenido */
}

/* Encabezado */
h1 {
    color: #007BFF; /* Azul para el encabezado */
    padding: 20px;
}

/* Formulario */
form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de las cajas de entrada */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilo del botón */
button {
    background-color: #007BFF; /* Azul para el botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    form {
        width: 80%; /* Ajusta el ancho del formulario para pantallas más pequeñas */
    }

    /* Establece un tamaño máximo para las imágenes en la tabla */
    table img {
        max-width: 100px;
        height: auto;
    }
}
