<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar Postagem</title>
    <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>

<h1>Editar Postagem</h1>
<form method="post" enctype="multipart/form-data" th:action="@{'/postagem/editar/' + ${postagem.id}}"> <!-- Corregí la expresión th:action -->
    Título<input type="text" name="titulo" th:value="${postagem.titulo}"/><br/>
    Conteúdo<textarea name="conteudo" th:text="${postagem.conteudo}"></textarea><br/>
    Imagem<input type="file" name="file"/><br/>
    <button type="submit">Salvar Alterações</button>
</form>

<a th:href="@{/novapostagem}">Agregar Nuevo Post</a><br/>
<a th:href="@{/listarpostagems}">Listar Posts</a><br/>
<a th:href="@{/iniciopostagems}">Inicio Posts</a><br/>
<a th:href="@{/home}">Home</a>

</body>
</html>
