<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Inicio Postagems</title>
    <link rel="stylesheet" type="text/css" th:href="@{estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>
<h1>Bienvenido a la Página de Inicio de Postagems</h1>


<a th:href="@{/novapostagem}">Agregar Nuevo Post</a><br/>
<a th:href="@{/listarpostagems}">Listar Posts</a><br/>
<a th:href="@{/iniciopostagems}">Inicio Posts</a><br/>
<a th:href="@{/home}">Home</a>

</body>
</html>