<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<h1>Listar Postagens</h1>
<table>
    <thead>
    <th>ID</th>
    <th>Título</th>
    <th>Autor</th>
    <th>Conteúdo</th>
    <th>Imagem</th>
    <th>Editar</th>
    <th>Excluir</th>
    </thead>
    <tbody>
    <tr th:each="postagem : ${postagens}">
        <td th:text="${postagem.id}"></td>
        <td th:text="${postagem.titulo}"></td>
        <td th:text="${postagem.autor}"></td>
        <td th:text="${postagem.conteudo}"></td>
        <td><img th:src="@{/postagem/imagem/{imagem}(imagem=${postagem.imagem})}" /></td>
        <td><a th:href="@{/postagem/editar/{id}(id=${postagem.id})}">Editar</a></td>
        <td><a th:href="@{/postagem/excluir/{id}(id=${postagem.id})}">Excluir</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
