<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Ejemplo</title>
    <link rel="stylesheet" type="text/css" th:href="@{estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>

<h1>Bienvenido a la Home</h1>

<a href="/livros/preco/123">123</a><br/>
<a href="/livros/preco/321">321</a><br/>


<form method="post" action="pesquisar">
    Buscar: <input type="text" name="texto"/>
    <input type="submit"/>
</form>

<a th:href="@{/iniciolivros}">Livros</a>
<a th:href="@{/inicioalimentos}">Alimentos</a>
<a th:href="@{/iniciopostagems}">Postagems</a>

</body>
</html>
