<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Editar Alimentos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>

<h1>Editar Alimento</h1>
<form method="post" th:action="@{/editaralimento/{id}(id=${alimento.id})}" enctype="multipart/form-data">
    Nombre<input type="text" name="nombre" th:value="${alimento.nome}"/><br/>
    Precio<input type="text" name="precio" th:value="${alimento.preco}"/><br/>

    Imagen actual: <img th:src="@{/imagem/{imagem}(imagem=${alimento.imagem})}" width="100" height="150"/><br/>

    Nueva imagen: <input type="file" name="file"/><br/>

    <button type="submit">Guardar Cambios</button>
</form>

<a th:href="@{/nuevoalimento}">Agregar Nuevo Alimento</a><br/>
<a th:href="@{/listaralimentos}">Listar Alimentos</a><br/>
<a th:href="@{/inicioalimentos}">Inicio Alimentos</a>

</body>
</html>
