<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listar Alimentos</title>
    <link rel="stylesheet" type="text/css" th:href="@{estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">
</head>
<body>

<h1>Listar Alimentos</h1>
<table>
    <thead>
    <th>Id</th>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Preço</th>
    <th>Imagem</th>
    <th>Editar</th>
    <th>Excluir</th>
    </thead>
    <tbody>

    <tr th:each="alimento : ${alimentos}">
        <td th:text="${alimento.id}"></td>
        <td th:text="${alimento.nome}"></td>
        <td th:text="${alimento.preco}"></td>

        <td><img th:src="@{/imagem/{imagem}(imagem=${alimento.imagem})}" /></td>

        <td> <a th:href="@{/editaralimento/{id}(id=${alimento.id})}">Editar</a></td>

        <td><a th:href="@{/deletaralimento/{id}(id=${alimento.id})}">Excluir</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/novoalimento}">Agregar Nuevo Alimento</a><br/>
<a th:href="@{/listaralimentos}">Listar Alimentos</a><br/>
<a th:href="@{/inicioalimentos}">Inicio Alimentos</a>

</body>
</html>
