<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Alimento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap">

</head>
<body>

<h1>Novo Alimento</h1>
<form method="post" enctype="multipart/form-data" >
    Nome<input type="text" name="nome"/><br/>
    Tipo<input type="text" name="tipo"/><br/>
    Preço<input type="text" name="preco"/><br/>
    Imagem<input type="file" name="file"/><br/>
    Descrição<textarea name="descricao"></textarea><br/>
    <button type="submit">Enviar</button>
</form>

<a th:href="@{/novoalimento}">Agregar Nuevo Alimento</a><br/>
<a th:href="@{/listaralimentos}">Listar Alimentos</a><br/>
<a th:href="@{/inicioalimentos}">Inicio Alimentos</a>

</body>
</html>
