<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<h1>Novo Alimento</h1>
<form method="post" enctype="multipart/form-data" >
    Nome<input type="text" name="nome"/><br/>
    Tipo<input type="text" name="tipo"/><br/>
    Preço<input type="text" name="preco"/><br/>
    Imagem<input type="file" name="file"/><br/>
    Descrição<textarea name="descricao"></textarea><br/>
    <button type="submit">Enviar</button>
</form>
</body>
</html>
